<form #create="ngForm" class="create-user" autocomplete="off" (ngSubmit)="createPassword(create)">

    <h1 mat-dialog-title>Create password key</h1>

    <div mat-dialog-content>

        <p>Fill the form for create your personal password for accessing your data</p>


        <mat-form-field class="create-input">
            <input type="password"
            ngModel
            minlength="7"
            required
            matInput
            placeholder="Password"
            name="password">
            <mat-hint align="end">{{formHint}}</mat-hint>
        </mat-form-field>

    </div>

    <br>

    <div mat-dialog-actions align="end">

        <!-- <button mat-raised-button type="button" [mat-dialog-close]="'cancel'" [disabled]="submitted" color="warn">Cancel</button> -->
        <button type="submit" [disabled]="create.invalid || submitted" mat-raised-button color="primary">Create</button>

    </div>

</form>
