/* style for toast message */

.toast-success {
  color: rgb(60, 118, 61);
  background-color: rgb(223, 240, 216);
  border-color: rgb(214, 233, 198);
  font-weight: 700;
  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mat-simple-snackbar-action {
    color: rgba(0, 0, 0, 0.87);
  }
}

.toast-danger {
  color: rgb(169, 68, 66);
  background-color: rgb(242, 222, 222);
  border-color: rgb(235, 204, 209);
  font-weight: 700;
  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mat-simple-snackbar-action {
    color: rgba(0, 0, 0, 0.87);
  }
}

.toast-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
