#Searchbar {
  margin-left: 2px;
}

.acc-visible{
  padding-left: 0;
}

.full-width {
  width: 100%;
}

.sm-icon{
  transform: scale(0.8);
}

.desc-space {
  padding: 1em 0 0 0;
}

.acc-list {
  padding: 1em;
  position: relative;
}

.acc-fab-bottom-right {
  position: fixed;
  bottom: 8px;
  right: 8px;
  z-index: 500;
  .icon-plus {
    line-height: 0.95 !important;
  }
}
