
<div id="SignIn" class="sign-spacer" [class.created]="userNotExist">

  <mat-card>

    <mat-card-title>Keeper</mat-card-title>
    <mat-card-subtitle>Keep your data secretly offline</mat-card-subtitle>

    <div>
      <br>
    </div>

    <form #access="ngForm"
      (ngSubmit)="accessUser(access)"
      class="sign-form"
      autocomplete="off">

      <mat-form-field class="sign-input">
        <input type="password"
          ngModel
          required
          matInput
          placeholder="Password"
          name="password">
      </mat-form-field>

      <div>
        <br>
      </div>

      <button type="submit"
        [disabled]="access.invalid || submitted"
        mat-stroked-button
        color="primary"> Access
      </button>

    </form>

    <div>

    </div>
  </mat-card>

</div>
