.sign-spacer{
    padding: 2em;

    .sign-form{
        width: 100%;
        text-align: center;
        
        .sign-input{
            width: 100%;
        }
    }

}

.sign-fab-bottom-right{
    position: fixed;
    bottom: 8px;
    right: 8px;
    z-index: 500;
}