/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// import font icons material
@import "~material-design-icons/iconfont/material-icons.css";

// import font roboto
@import "./styles/fonts.scss";

// import style app pre loader
@import "./styles/pre-loader.scss";

// import style scrollbar
@import "./styles/scrollbar.scss";

// import style snackbar
@import "./styles/snackbar.scss";

// import style theming app
@import "./styles/themes.scss";
